
@{
    ViewBag.Title = ViewBag.MissionTitle;
}

<ol class="breadcrumb">
	<li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("Mission", "Home")">Mission Selection</a></li>
    <li class="active">@ViewBag.MissionTitle</li>
</ol>

<div class="row">
    @if (ViewBag.MissionTitle == "Florida Tampa Mission")
    {
        <img src="@ViewBag.Logo" class="missionimages pull-right col-sm-5" id="floridaflag" />
    }
    else
    {
        <img src="@ViewBag.Logo" class="missionimages pull-right col-sm-5" />
    }
    <h2 class="col-sm-4">@ViewBag.MissionTitle</h2>
    <h3 class="col-sm-4">@ViewBag.MissionPrez</h3>
    <h4 class="col-sm-4">@ViewBag.MissionAddress</h4>
    <p class="col-sm-4"><strong>Mission Languages: </strong>@ViewBag.MissionLanguage</p>
    <p class="col-sm-4"><strong>Mission Climate: </strong>@ViewBag.MissionClimate</p>
    <p class="col-sm-4"><strong>Mission Religions: </strong>@ViewBag.MissionReligion</p>
</div>

<div class="row text-center">
	<h2>FAQ</h2>
</div>

<div class="row">
	<div class="accordion" id="accordion2">
		<div class="accordion-group textspacing col-sm-12">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
					How many missionaries are there currently?
				</a>
			</div>
			<div id="collapseOne" class="accordion-body collapse">
				<div class="accordion-inner textspacing">
					With the age change there has been an increase in missionary service. Our mission has seen the benfits and has jumped to approximately 150 missionaries.
				</div>
				<form method="POST">
					<p>Reply: </p><input type="text" name="QuestionReply" placeholder="Your Answer..." class="textspacing"><br />
					<input type="submit" value="Submit" class="btn btn-primary textspacing">
				</form>
			</div>
		</div>
		<div class="accordion-group textspacing col-sm-12">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
					How many baptisms can each missionary expect
				</a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner textspacing">
					Average baptisms per missionary is about 12.
				</div>
				<form method="POST">
					<p>Reply: </p><input type="text" name="QuestionReply" placeholder="Your Answer..." class="textspacing"><br />
					<input type="submit" value="Submit" class="btn btn-primary textspacing">
				</form>
			</div>
		</div>
		<div class="accordion-group textspacing col-sm-12">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
					Is the mission dangerous?
				</a>
			</div>
			<div id="collapseThree" class="accordion-body collapse">
				<div class="accordion-inner textspacing">
					Overall, the area in which you will serve is safe. You will need to avoid certain areas, but you should not be overally concerned with your safety.
				</div>
				<form method="POST">
					<p>Reply: </p><input type="text" name="QuestionReply" placeholder="Your Answer..." class="textspacing"><br />
					<input type="submit" value="Submit" class="btn btn-primary textspacing">
				</form>
			</div>
		</div>
	</div>
	<h2 class="col-sm-12">Post a New Question</h2>
	<form method="POST" class="col-sm-4">
		<p>New Questions: </p><input type="text" name="FirstName" placeholder="Question here..." class="textspacing"><br>
		<p>New Answer: </p><input type="text" name="LastName" placeholder="Answer here..." class="textspacing"><br>
		<input type="submit" value="Submit" class="btn btn-primary textspacing">
	</form>
</div>
@*<a href="@Url.Action("Mission", "Home")" class="btn btn-primary">&laquoGo Back</a>*@