@model IEnumerable<Project1MissionSite.Models.Data>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = ViewBag.MissionTitle;
}

<ol class="breadcrumb">
	<li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("Mission", "Home")">Mission Selection</a></li>
    <li class="active">@Model.First().missionName</li>
</ol>

<div class="row">
    <img src="@Model.First().missionFlag" class="missionimages pull-right col-sm-5"/>
    <h2 class="col-sm-4">@Model.First().missionName</h2>
    <h3 class="col-sm-4">President @Model.First().missionPresidentFirst @Model.First().missionPresidentLast</h3>
    <h4 class="col-sm-4">@Model.First().missionAddress @Model.First().missionCity @Model.First().missionState @Model.First().missionZip</h4>
    <p class="col-sm-4"><strong>Mission Languages: </strong>@Model.First().missionLanguage</p>
    <p class="col-sm-4"><strong>Mission Climate: </strong>@Model.First().missionClimate</p>
    <p class="col-sm-4"><strong>Mission Religions: </strong>@Model.First().missionReligion</p>
</div>

<div class="row">
	<h2 class="col-sm-4">FAQ</h2>
</div>

@{int i = 0;}
@foreach (var item in Model)
{
	<div style="margin-top: 15px;" class="panel-group" id="accordion_@i">
		<div class="panel panel-default" id="panel_@i">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne_@i">@Html.DisplayFor(modelitem => item.missionquestionQuestion)</a>
				</h4>
			</div>
			<div id="collapseOne_@i" class="panel-collapse collapse ">
				<div class="panel-body">
					<h4><strong>Answer: </strong>@Html.DisplayFor(modelitem => item.missionquestionAnswer)</h4>
					@using (Html.BeginForm("NewAnswer", "Home", new { id = @Html.DisplayFor(modelitem => item.missionquestionId) }, FormMethod.Post, null))
					{
						[ValidateAntiForgeryToken]
						<div class="form-horizontal">
							<hr />
							<label for="inputAnswer" class="control-label col-md-2" style="margin-top: 15px;">Reply: </label>
							<div class="col-md-10" style="margin-top: 15px;">
								@Html.TextArea("NewAnswer", null, 5, 50, new { @class = "form-control" })
							</div>
							<div class="col-md-offset-2 col-md-10" style="margin-top: 15px;">
								<button type="submit" class="btn btn-primary">Post New Answer</button>
							</div>
						</div>
					}
					<a href="@Url.Action("Edit", "MissionQuestions", new { id = @Html.DisplayFor(modelitem => item.missionquestionId) })" class="btn btn-primary">Reply to Question</a>
					<h4 style="margin-top: 10px;">Contributed By: @Html.DisplayFor(modelitem => item.userEmail)</h4>
				</div>
			</div>
		</div>
	</div>
	i++;
}

<a href="@Url.Action("Create", "MissionQuestions", new { missions = @ViewBag.missions })" class="btn btn-primary" style="margin-top: 15px;">Add New Question</a>