
@{
    ViewBag.Title = ViewBag.MissionTitle;
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Mission", "Home")">Mission Selection</a></li>
    <li class="active">@ViewBag.MissionTitle</li>
</ol>

<div class="row">
    @if (ViewBag.MissionTitle == "Florida Tampa Mission")
    {
        <img src="@ViewBag.Logo" class="missionimages pull-right col-sm-5" id="floridaflag" />
    }
    else
    {
        <img src="@ViewBag.Logo" class="missionimages pull-right col-sm-5" />
    }
    <h2 class="col-sm-4 textspacing">@ViewBag.MissionTitle</h2>
    <h3 class="col-sm-4 textspacing">@ViewBag.MissionPrez</h3>
    <h4 class="col-sm-4 textspacing">@ViewBag.MissionAddress</h4>
    <p class="col-sm-4 textspacing">@ViewBag.MissionLanguage</p>
    <p class="col-sm-4 textspacing">@ViewBag.MissionClimate</p>
    <p class="col-sm-4 textspacing">@ViewBag.MissionReligion</p>

	<form method="POST" class="col-sm-4">
		<p>New Questions: </p><input type="text" name="FirstName" placeholder="Question here..." class="textspacing"><br>
		<p>New Answer: </p><input type="text" name="LastName" placeholder="Answer here..." class="textspacing"><br>
		<input type="submit" value="Submit" class="btn btn-primary textspacing">
	</form>
    
</div>
@*<a href="@Url.Action("Mission", "Home")" class="btn btn-primary">&laquoGo Back</a>*@